* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-dark-color: #272822;
    --primary-color: #e6db74;
    --secondary-color: #a6e22e;
    --danger-color: #f92672;
    --white-color: #e2e2dc;
    --cursor-color: #66d9ef;
}
.container{
    max-width: 900px;
    margin: auto;
    /* border: 1px solid white; */
    height: 100%;
}
body {
    width: 100vw;
    height: 100svh;
    background-color: var(--bg-dark-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.statistics{
    padding-top: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark-color);
    z-index: 100;
    display: none;
}
.statistics.active{
    display: block;
}
.statistics .result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 30px;
}
.statistics .result > div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.statistics .result span:last-child{
    color: var(--secondary-color);
    font-size: 40px;
}
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}
.btn{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid white;
    font-size: 16px;
    text-transform: capitalize;
    min-width: 100px;
}
.btn:hover{
    background-color: var(--primary-color);
    color: var(--bg-dark-color);
}
.chart{
    grid-area: chart;
    width: 100%;
    max-height: 200px;
    height: 200px;
}
canvas{
    display: block;
    /* object-fit: contain; */
    height: 100%;
    width: 100% !important;
}
.container > .wrapper{
    margin-top: 16vh;
}

#time {
    font-size: 30px;
    margin-bottom: 10px;
}

#main {
    position: relative;
    border: none;
    outline: none;
}

#cursor {
    visibility: hidden;
    position: absolute;
    width: 3px;
    background-color: var(--primary-color);
    background-color: var(--cursor-color);
    top: 4px;
    left: 0px;
    /* animation: blink 1s infinite; */
    transition: .1s;
    transform-origin: top left;
    border-radius: 10px;
}

#main:focus #cursor {
    visibility: visible;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    font-size: 30px;
    margin-bottom: 20px;
}


#words{
    /* border: 1px solid white; */
    width: 90vw;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
}

.word{
    display: flex;
    margin: 4px;
}

letter {
    font-size: 30px;
}

.correct {
    color: var(--white-color);
}

.incorrect {
    color: var(--danger-color);
}