*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-dark-color: #272822;
    --primary-color: #e6db74;
    --secondary-color: #a6e22e;
    --danger-color: #f92672;
    --white-color: #e2e2dc;
    --cursor-color: #66d9ef;
}

body{
    width: 100vw;
    height: 100svh;
    background-color: var(--bg-dark-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#words{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    position: relative;
    letter-spacing: 1px;
    overflow: hidden;
}
#time{
    font-size: 30px;
    margin-bottom: 10px;
}
main{
    position: relative;
    border: none;
    outline: none;
}

#cursor{
    visibility: hidden;
    position: absolute;
    width: 3px;
    background-color: var(--primary-color);
    background-color: var(--cursor-color);
    top: 4px;
    left: 0px;
    animation: blink 1s infinite;
    transition: .1s;
    transform-origin: top left;
    border-radius: 10px;
}

main:focus #cursor{
    visibility: visible;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    font-size: 30px;
    margin-bottom: 20px;
}
.word{
    margin: 4px;
    display: flex;
}
letter{
    font-size: 30px;
}
.correct{
    color: var(--white-color);
}
.incorrect{
    color: var(--danger-color);
}
